* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2b2d31;
}

.stB {
    text-align: center;
    line-height: 5vh;
    width: 100%;
    height: 40vh;
    border-bottom: 4px solid #6932cf;
    border-top: 4px solid #6932cf;
}

.stB img {
    height: 20vh;
    width: 20vh;
    margin-top: 12vh;
    border: 4px inset #7c18ce;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.stB img:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.stB2 {
    margin-top: 2vh;
    text-align: center;
    width: 100%;
}

.stB2 div {
    font-size: larger;
    display: inline-block;
    background-color: rgb(162, 88, 223);
    font-family: sans-serif;
    font-weight: 700;
}

.stB3 {
    text-align: center;
}

.stB3 img {
    display: inline-block;
    height: 5vh;
    width: auto;
    margin-top: 2vh;
    cursor: pointer;
}

.stB3 img:hover {
    border: 3px solid #413f3f; /* Ширина, вид и цвет рамки */
}